name: Bandit
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Run Bandit
        run: |
          uv run --only-group bandit bandit --configfile pyproject.toml --recursive . --format sarif --output results.sarif || true

      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
